//consts.scss
.label {
  	display: inline;
  	padding: 0.2rem 0.6rem;
  	font-size: 75%;
  	color: #fff;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: baseline;
}
.theme-bg-color {
	background: #00a3e7;
}