.mp-introduce-content {
    padding: 10px;
    margin: 10px 6px 50px;
    min-height: 355px;
    border: 1px solid #ddd;
    background-color: #fff;
    img {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
        height: 220px;
    }
    h3 {
        font-size: 16px;
        color: #000;
        line-height: 30px;
        font-weight: normal;
    }
    p {
        font-size: 14px;
        color: #808080;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .title {
        font-size: 16px;
        color: #000;
        line-height: 30px;
        font-size: 16px;
        word-wrap: break-word;
    }
}