/* line 2, introduce.less */
.mp-intro-container {
  width: 763px;
  margin-left: -6px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 9, introduce.less */
.mp-intro-input-con {
  width: 400px;
  height: 40px;
  margin: 15px 0px 0px 0px;
  line-height: 1.8;
}
/* line 14, introduce.less */
.mp-intro-input-con .mp-intro-input-left {
  color: #84888D;
  font-weight: 700;
  width: 106px;
  text-align: right;
  margin-right: 20px;
  float: left;
}
/* line 21, introduce.less */
.mp-intro-input-con .mp-intro-input-left .mp-intro-necessary {
  color: #AE4A4A;
  display: inline-block;
  width: 20px;
  text-align: center;
}
/* line 28, introduce.less */
.mp-intro-input-con .mp-intro-necessary {
  color: #AE4A4A;
}
/* line 31, introduce.less */
.mp-intro-input-con .mp-intro-input-right {
  float: left;
  position: relative;
}
/* line 34, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-button-container {
  width: 520px;
  color: #888;
  font-family: '宋体';
  font-size: 12px;
  color: #ccc;
}
/* line 40, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-button-container .mp-intro-input-button {
  width: 70px;
  height: 26px;
  border: 0px;
  border-radius: 2px;
  background-color: #56A845;
  color: #FFF;
  cursor: pointer;
}
/* line 49, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-button-container em {
  color: #000;
  font-style: normal;
}
/* line 54, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container {
  width: 600px;
  position: relative;
}
/* line 57, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container .mp-intro-datetimepiker-icon1 {
  position: absolute;
  background: url('/static/builder/images/calender.png') no-repeat;
  top: 10px;
  left: 83px;
  height: 10px;
  width: 11px;
}
/* line 65, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container .mp-intro-datetimepiker-icon2 {
  position: absolute;
  background: url('/static/builder/images/calender.png') no-repeat;
  top: 10px;
  left: 205px;
  height: 10px;
  width: 11px;
}
/* line 74, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container .mp-intro-datetimepiker {
  float: left;
  border: 1px solid #DFDFDF;
  color: #999;
  font-family: '宋体';
  padding-left: 2px;
}
/* line 80, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container .mp-intro-datetimepiker-block {
  float: left;
  width: 20px;
  color: #CCC;
  text-align: center;
  line-height: 2.0;
}
/* line 87, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-time-container select {
  height: 30px;
  border: 1px solid #DFDFDF;
  color: #999;
  font-size: 12px;
  font-family: '宋体';
}
/* line 95, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-text {
  padding-right: 70px;
  width: 570px;
  height: 26px;
  border: 1px solid #DFDFDF;
  color: #999;
  font-family: '宋体';
  font-size: 12px;
  padding-left: 2px;
}
/* line 104, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-time {
  width: 640px;
  height: 26px;
  border: 1px solid #DFDFDF;
}
/* line 109, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-textarea {
  width: 636px;
  height: 76px;
  border: 1px solid #DFDFDF;
  text-indent: 0px;
  color: #999;
  font-family: '宋体';
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 119, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-alert {
  border: 1px solid #AE4A4A;
}
/* line 122, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-remind {
  position: absolute;
  width: 88px;
  height: 26px;
  text-align: right;
}
/* line 128, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-remind-text {
  top: 3px;
  left: 544px;
  color: #999;
  font-family: '宋体';
}
/* line 134, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-input-remind-textarea {
  top: 58px;
  left: 544px;
  color: #999;
  font-family: '宋体';
}
/* line 140, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-input-hidden {
  display: none;
}
/* line 143, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-image-lists {
  width: 654px;
}
/* line 145, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-image-lists .mp-intro-image-container {
  margin-top: 10px;
  padding: 5px;
  width: 180px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
  background-color: #C8C8C8;
}
/* line 154, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-image-lists .mp-intro-image-container .mp-intro-image-show {
  width: 180px;
  height: 100px;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
/* line 162, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-image-lists .mp-intro-image-container:hover {
  border-top: 2px solid #56A845;
  border-bottom: 2px solid #56A845;
  border-left: 3px solid #56A845;
  border-right: 3px solid #56A845;
}
/* line 171, introduce.less */
.mp-intro-input-con .mp-intro-input-right .mp-intro-submit {
  width: 152px;
  height: 32px;
  font-size: 14px;
  background-color: #498BFC;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
/* line 183, introduce.less */
.mp-intro-input-con div {
  float: left;
  width: 128px;
}
/*微调所用的css*/
/* line 192, introduce.less */
.mp-intro-input-con-name {
  margin: 0px 0px 10px 0px;
}
/* line 195, introduce.less */
.mp-intro-input-con-introduce {
  margin-top: 12px;
}
/* line 198, introduce.less */
.mp-intro-input-con-address {
  margin: 12px 0px -6px 0px;
}
/* line 201, introduce.less */
.mp-intro-input-button-margin {
  margin-bottom: 8px;
}
/* line 204, introduce.less */
.mp-intro-open {
  display: none;
}
/* line 207, introduce.less */
.mp-intro-best {
  display: none;
}
/*微调over*/
/* line 211, introduce.less */
.mp-intro-input {
  border: 1px solid #FF0000;
  -webkit-box-shadow: 0px 0px 2px 0px #FF0000;
  box-shadow: 0px 0px 2px 0px #FF0000;
  outline: none;
}
/* line 218, introduce.less */
.mp-intro-imageupload {
  width: 400px;
  height: 166px;
  margin: 5px 0px 5px 0px;
  line-height: 1.8;
}
/* line 224, introduce.less */
.mp-intro-imageupload input {
  width: 300px;
  height: 30px;
  border: 0px;
}
/* line 229, introduce.less */
.mp-intro-imageupload img {
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=introduce.css.map */