/* common css */
/* common css */

body {
    overflow-y: scroll;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.mp-manage-savebutton {
    width: 152px;
    height: 32px;
    font-size: 14px;
    background-color: #498BFC;
    color: #FFF;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
/* 全局样式 */

#mp-manage-container {} .mp-manage-routes input[type="text"], .mp-manage-routes textarea {
    outline-style: none;
    -webkit-appearance: none;
}
.mp-manage-spotlist input[type="text"], .mp-manage-spotlist textarea {
    outline-style: none;
    -webkit-appearance: none;
}
.mp-manage-gallery input[type="text"], .mp-manage-gallery textarea {
    outline-style: none;
    -webkit-appearance: none;
}
.mp-manage-dialogBox input[type="text"], .mp-manage-dialogBox input[type="password"], .mp-manage-dialogBox textarea {
    outline-style: none;
    -webkit-appearance: none;
}
/* 模块设置 */

.mp-manage-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    overflow: hidden;
}
.mp-manage-simulation {
    width: 374px;
    border-left: 1px solid #EBEBEB;
    padding-left: 21px;
}
.mp-manage-managebox {
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
    /*margin-left: 20px;*/
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: column;
    flex: 1;
    -webkit-box-flex: 1;
    min-height: 668px;
}
@media only screen and (min-height: 700px) {
    .mp-manage-managebox {
        min-height: 1000px;
    }
}
.mp-manage-moduleitem {
    border-bottom: solid 1px #ecedef;
    overflow: hidden;
    height: 52px;
    line-height: 53px;
}
.mp-manage-moduleitem .mp-manage-errortips:before {
    background-position: -2px -91px;
    top: 13px;
    left: 62px;
}
.mp-manage-moduleitem .active:before {
    content: initial;
}
.mp-manage-moduleitem li {
    position: relative;
    list-style-type: none;
    float: left;
    margin-left: 25px;
    color: #71767b;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 15px;
}
.mp-manage-moduleitem li:first-child {
    margin-left: 35px;
}
.mp-manage-moduleitem li:hover {
    color: #4682ca;
}
.mp-manage-moduleitem li[data-module="cover"]:hover {
    color: #ff6600;
}
.mp-manage-moduleitem li.active {
    color: #4682ca;
    background: url('/static/builder/images/icon_arrow_top_blue.png') no-repeat;
    background-position: 28px 49px;
}
.mp-manage-moduleitem li.active[data-module="cover"] {
    color: #ff6600;
    background: url('/static/builder/images/icon_arrow_top.png') no-repeat;
    background-position: 10px 49px;
}
.mp-manage-moduleitem li.active[data-module="heatmap"] {
    background: url('/static/builder/images/icon_arrow_top_blue.png') no-repeat;
    background-position: 35px 49px;
}
.mp-manage-moduleitem li.disable {
    color: #BFC4C9;
    cursor: auto;
}
.mp-manage-ticketsbar span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.mp-manage-ticketsbar {
    display: none;
}
.mp-manage-ticketsbar .mp-manage-back {
    display: inline-block;
    margin: 15px 0px 0px 20px;
    width: 20px;
    cursor: pointer;
    height: 18px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: 6px -236px;
    border: solid 1px #BCBCBC;
    border-radius: 2px;
}
.mp-manage-ticketsbar .ticket_label {
    color: #71767b;
    position: relative;
    top: -5px;
    cursor: pointer;
}
.mp-manage-ticketsbar .ticket_info {
    position: relative;
    top: -5px;
    color: #4682ea;
}
/* 模板设置 */

.mp-manage-module {
    padding: 16px 20px;
    display: none;
}
.mp-manage-covertitle, .mp-manage-imgtitle {
    color: #4682EA;
    padding: 3px 0 18px;
    font-size: 14px;
    font-weight: bold;
}
.mp-manage-cover {
    display: block;
}
.mp-manage-cover-label {
    color: #a4a9ae;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}
.mp-manage-required {
    overflow: hidden;
    border-top: solid 1px #ecedef;
    margin-bottom: 20px;
}
.mp-manage-optional {
    overflow: hidden;
    border-top: solid 1px #ecedef;
    margin-bottom: 6px;
}
.mp-manage-required li {
    float: left;
    height: 26px;
    width: 100px;
    line-height: 26px;
    text-align: center;
    margin-top: 16px;
    margin-right: 20px;
    border: solid 1px #DADADA;
    font-size: 12px;
    position: relative;
    color: #71767b;
}
.mp-manage-required li a {
    text-decoration: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    margin-left: 10px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: -151px -17px;
}
.mp-manage-required li:hover {
    background-color: #F2F2F2;
}
.mp-manage-optional li {
    float: left;
    height: 26px;
    width: 100px;
    line-height: 26px;
    text-align: center;
    margin: 16px 0 20px;
    margin-right: 20px;
    border: solid 1px #DADADA;
    font-size: 12px;
    position: relative;
    text-indent: 26px;
    color: #71767b;
    font-family: "宋体";
}
.mp-manage-optional li a {
    text-decoration: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    margin-left: 10px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: -151px -17px;
}
.mp-manage-optional li:hover {
    background-color: #F2F2F2;
}
.mp-manage-optional li .checkbox {
    position: absolute;
    top: 4px;
    left: 13px;
    width: 15px;
    height: 16px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: 0px -63px;
    cursor: pointer;
}
.mp-manage-optional li .checked {
    background-position: 0px -112px;
}
li.mp-manage-requiredModel {
    width: 73px;
    background-color: #99a3ac;
    border: solid 1px #99a3ac;
    color: #FFFFFF;
    font-size: 12px;
}
li.mp-manage-requiredModel:hover {
    background-color: #99a3ac;
}
.mp-manage-optionalModel {
    border: solid 1px #ecedef;
}
.mp-manage-routes {
    overflow: hidden;
}
.mp-manage-routes .mark-to-map {
    display: inline-block;
    width: 80px;
    height: 26px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #56A845;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}
.mp-manage-routes li {
    float: none;
    margin-bottom: 20px;
    position: relative;
}
.mp-manage-routes li.savebox {
    padding-left: 140px;
}
/* 设置热门景点 */

.mp-manage-spotlist .mp-manage-savebutton {
    margin-left: 115px;
}
/* 设置背景图片 */

.mp-manage-imgload {
    overflow: hidden;
    margin-top: 7px;
}
.mp-manage-uploadbox {
    display: flex;
    display: -webkit-box;
    border-top: solid 1px #ecedef;
    padding: 15px 0px 0px;
    margin-bottom: 15px;
}
.mp-manage-imgupload {
    border: solid 1px #CCD3DA;
    width: 88px;
    height: 158px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}
.mp-manage-imgupload:hover {
    background-color: #F2F2F2;
}
.mp-manage-imguploadinput {
    position: relative;
    left: 600px;
}
.mp-manage-imgupload .uploadbg {
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: -35px -287px;
    position: relative;
    width: 48px;
    top: 57px;
    height: 45px;
    left: 16px;
    ;
}
.mp-manage-imgupload-active .uploadbg {
    display: none;
}
.mp-manage-imgupload:hover {
    border: solid 1px #6AB542;
}
.mp-manage-imgupload .privewbox {
    display: none;
}
.mp-manage-imgupload-active .privewbox {
    display: block;
}
.mp-manage-imgupload .previewimg {
    width: 88px;
    height: 158px;
}
.mp-manage-imgupload .uploadbtn {
    display: none;
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
    background-color: #7FBF5D;
    color: #ffffff;
    font-size: 12px;
    cursor: default;
    text-align: center;
}
.mp-manage-imgupload .uploadbtn .reuploadicon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: -1px -146px;
    margin: 5px 5px 0px;
}
.mp-manage-imgupload .uploadbtn .reuploadiconlabel {
    display: inline-block;
    position: relative;
    top: -4px;
}
.mp-manage-imgupload-active:hover .uploadbtn {
    display: inline-block;
}
.mp-manage-imgupload .uploadbtn .reuploadicon {
    display: inline-block;
}
.mp-manage-uploadinfo {
    flex: 1;
    -webkit-box-flex: 1;
    font-size: 12px;
    color: #a4a9ae;
    margin-left: 10px;
    line-height: 20px;
}
.mp-manage-uploadinfo .defaultimg {
    color: #4682ea;
}
#mp-manage-selectmodule-backgrountImg {
    width: 124px;
}
.mp-manage-navbg {
    overflow: hidden;
    display: none;
}
.mp-manage-navbg .navscontainer {
    border-top: solid 1px #ecedef;
    padding: 15px 0px 0px;
    margin-bottom: 15px;
}
.mp-manage-navbg .navbg {
    width: 349px;
    height: 105px;
    border: solid 1px #ecedef;
    padding-left: 20px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.mp-manage-navbg .navbgcontainer {
    display: flex;
    display: -webkit-box;
}
.mp-manage-navbg .mp-manage-imgupload {
    width: 128px;
    height: 62px;
}
.mp-manage-navbg .previewimg {
    width: 128px;
    height: 62px;
}
.mp-manage-navbg .uploadbg {
    top: 10px;
    left: 38px;
}
.mp-manage-navbg .navtitle {
    font-size: 12px;
    color: #a4a9ae;
    margin: 7px 0px 11px;
}
/* 景区门票 */

.mp-manage-tickets {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: column;
}
#mp-manage-ticketsFrame {
    flex: 1;
    -webkit-box-flex: 1;
}
/* 景区图片 */

.mp-manage-gallery a.disabled {
    color: #BFC4C9;
    cursor: auto;
}
.mp-manage-baidulvyou {
    border: solid 1px #e4e5e6;
    background-color: #FAFAFA;
}
.mp-manage-baidulvyou .mp-manage-label {
    width: 170px;
}
.mp-manage-baidulvyou .mp-manage-inputbox {
    margin-left: 190px;
}
.mp-manage-baidulvyou li {
    position: relative;
    margin: 15px 0px;
}
.mp-manage-baidulvyou li:last-child {
    padding-left: 50px;
}
.mp-manage-baidulvyou li select {
    width: 300px;
    height: 30px;
}
.mp-manage-baidulvyou li .submit {
    margin-left: 140px;
}
.mp-manage-gallery-uploadoption {
    display: flex;
    display: -webkit-box;
}
.mp-manage-gallery-uploadoption > div {
    display: flex;
    display: -webkit-box;
    border: solid 1px #CCD3DA;
    height: 66px;
    cursor: pointer;
    background-color: #fafafa;
    padding: 0px 1px 0px 0px;
    -webkit-box-shadow: 0 2px 2px #CCD3DA;
    -moz-box-shadow: 0 2px 2px #CCD3DA;
    box-shadow: 0 2px 2px #CCD3DA;
}
.mp-manage-gallery-uploadoption > div.checked {
    border: solid 2px #56A845;
    border-left: solid 1px #56A845;
    height: 64px;
    padding: 0px;
}
.mp-manage-gallery-uploadoption .typeone {

} 

.mp-manage-gallery-uploadoption .typetwo {
    margin-left: 25px;
}
.mp-manage-gallery-uploadoption .lefticon {
    width: 25px;
    height: 66px;
    background-color: #E1E4E6;
    border-right: solid 1px #CCD3DA;
}
.mp-manage-gallery-uploadoption .checked .typebox {
    margin-top: 0px;
}
.mp-manage-gallery-uploadoption .checked .lefticon {
    background-color: #56A845;
    border-right: solid 1px #56A845;
    margin: 0px;
}
.mp-manage-gallery-uploadoption .typebox {
    width: 335px;
    display: flex;
    display: -webkit-box;
    margin-top: 1px;
}
.mp-manage-gallery-uploadoption .icon {
    background: url('/static/builder/images/gallery.png') no-repeat;
    background-position: -13px -55px;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-top: 26px;
    margin-left: 5px;
}
.mp-manage-gallery-uploadoption .checked .icon {
    background-position: -53px -55px;
}
.mp-manage-gallery-uploadoption .typeoneicon, .mp-manage-gallery-uploadoption .typetwoicon {
    background: url('/static/builder/images/gallery.png') no-repeat;
    width: 30px;
    height: 32px;
    display: inline-block;
    margin-top: 18px;
    margin-left: 50px;
}
.mp-manage-gallery-uploadoption .typeoneicon {
    background-position: -6px -5px;
}
.mp-manage-gallery-uploadoption .typetwoicon {
    background-position: -5px -83px;
}
.mp-manage-gallery-uploadoption .checked .typeoneicon {
    background-position: -47px -5px;
}
.mp-manage-gallery-uploadoption .checked .typetwoicon {
    background-position: -48px -83px;
}
.mp-manage-gallery-uploadoption .typeinfo {
    margin-top: 15px;
    margin-left: 19px;
}
.mp-manage-gallery-uploadoption .typeinfo span {
    display: block;
}
.mp-manage-gallery-uploadoption .typeinfo span.title {
    font-size: 14px;
    color: #a4a9ac;
    font-weight: bold;
}
.mp-manage-gallery-uploadoption .checked .typeinfo span.title {
    color: #56A845;
}
.mp-manage-gallery-uploadoption .typeinfo span.tip {
    font-size: 12px;
    font-weight: bold;
    color: #a4a9ac;
    margin-top: 8px;
}
.mp-manage-gallery-atlasTip {
    margin-bottom: 15px;
    width: 250px;
}
.mp-manage-gallery-atlasTip div {
    margin-bottom: 10px;
}
.mp-manage-gallery-atlasTip .info {
    color: #84888d;
    font-size: 14px;
}
.mp-manage-customer .mp-manage-savebutton {
    margin-left: 115px;
}
.mp-manage-uploadcontainer {
    margin-top: 22px;
    border-top: solid 1px #ebebeb;
    padding-top: 17px;
}
.mp-manage-uploadcontainer li.atlasbox {
    border: solid 1px #CCD3DA;
    height: 28px;
    padding-left: 14px;
    margin-right: 20px;
    background-color: #FAFAFA;
    color: #b5b9bd;
    cursor: pointer;
}
.mp-manage-uploadcontainer li.atlasbox:hover {
    color: #4682ea;
}
.mp-manage-uploadcontainer li.active {
    border: solid 1px #4682ea;
    background-color: #FFFFFF;
    color: #4682ea;
}
.mp-manage-uploadcontainer span.atlasName {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    width: 87px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 15px;
    line-height: 15px;
}
.mp-manage-uploadcontainer span.atlasoption {
    display: inline-block;
    position: relative;
}
.mp-manage-uploadcontainer span.atlasoption a {
    background: url('/static/builder/images/gallery.png') no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    margin: 1px 5px;
}
.mp-manage-uploadcontainer span.atlasoption .editbutton {
    background-position: -53px -136px;
}
.mp-manage-uploadcontainer .active span.atlasoption .editbutton {
    background-position: -5px -138px;
    cursor: default;
}
.mp-manage-uploadcontainer span.atlasoption .deletebutton {
    background-position: -31px -137px;
}
.mp-manage-atlasListContainer {
    overflow: hidden;
}
.mp-manage-atlasListContainer .addbutton {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background-color: #56A845;
    font-size: 12px;
    color: #FFFFFF;
    margin: 5px 0px 0px;
    padding: 0px 14px 0px 35px;
    position: relative;
}
.mp-manage-atlasListContainer .addbutton:before {
    background: url('/static/builder/images/gallery.png') no-repeat;
    background-position: -34px -57px;
    display: inline-block;
    width: 10px;
    height: 10px;
    left: 14px;
    position: absolute;
    content: "";
    top: 9px;
}
.mp-manage-atlasList {} .mp-manage-atlasList li {
    margin: 5px 5px 5px 0;
    float: left;
}
.mp-manage-customer {} .mp-manage-atlasform {
    display: none;
    border: solid 1px #ebebeb;
    padding: 0px 0px 20px;
    background-color: #F8f8f8;
    margin-top: 4px;
    width: 762px;
}
.mp-manage-atlasform .uploadimgtip {
    font-size: 12px;
    display: block;
    color: #cccccc;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}
.mp-manage-atlasform .uploadcount {
    font-size: 12px;
    color: #84888d;
}
.mp-manage-atlasform li {
    margin-top: 16px;
}
.mp-manage-atlasform .atlasfromItem {
    position: relative;
}
.mp-manage-atlasform .uploadimg .tips-msg {
    left: 180px;
}
.mp-manage-atlasform .atlasfromItem .mp-manage-label {
    width: 105px;
}
.mp-manage-atlasform .atlasfromItem .mp-manage-inputbox {
    margin-left: 116px;
}
.mp-manage-atlasform .atlasnamelabel {
    font-size: 14px;
    font-weight: bold;
    color: #4682ea;
    margin-left: 15px;
}
.mp-manage-atlasform .atlasfromItem input {
    width: 300px;
}
.mp-manage-atlasform .mp-manage-inputbox {
    width: 100%;
}
.mp-manage-atlasform .mp-manage-inputbox {
    margin-left: 115px;
}
.mp-manage-atlasform .mp-manage-atlas {
    overflow: hidden;
}
.mp-manage-atlasform .mp-manage-atlas div {
    float: left;
    padding: 5px 10px;
}
.mp-manage-atlasform .mp-manage-uploadimages {
    overflow: hidden;
    margin-left: -4px;
}
.mp-manage-atlasform .mp-manage-uploadimgbox {
    float: left;
    margin: 10px 5px 0px 5px;
    border: solid 1px #CECECE;
    padding: 5px;
    -webkit-box-shadow: 0 0 6px #CECECE;
    -moz-box-shadow: 0 0 6px #CECECE;
    box-shadow: 0 0 6px #CECECE;
}
.mp-manage-atlasform .mp-manage-uploadimgbox:hover {
    border: solid 3px #6CB449;
    padding: 3px;
    -webkit-box-shadow: 0 0 6px #6CB449;
    -moz-box-shadow: 0 0 6px #6CB449;
    box-shadow: 0 0 6px #6CB449;
}
.mp-manage-atlasform .mp-manage-uploadimgbox .imgbox {
    position: relative;
}
.mp-manage-atlasform .mp-manage-uploadimgbox:hover .deletebtn {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 15px;
    background: url('/static/builder/images/icons.png') no-repeat;
    background-position: 0px -40px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.mp-manage-atlasform .mp-manage-uploadimgbox img {
    height: 100px;
    width: 180px;
}
.mp-manage-atlasform .mp-manage-uploadimgbox .imgtitle {
    margin: 0px;
}
.mp-manage-atlasform .mp-manage-uploadimgbox .imgtitleinput {
    width: 145px;
}
#mp-manage-cutomerSubmit {
    margin-left: 114px;
}
/* 地图弹层 */

.mp-manage-dialogBox .tips-msg {
    display: none;
    width: 150px;
    padding: 4px 10px 4px 28px;
    color: #666;
    line-height: 18px;
    min-height: 18px;
    display: none;
    z-index: 1;
    border: 1px solid #dfb7b7;
    background: #fcf8f8;
}
.mp-manage-maplayer .mark-to-map {
    display: inline-block;
    width: 80px;
    height: 26px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #56A845;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
}
.mp-manage-maplayer .mp-manage-input-text {
    width: 288px;
    margin-top: 20px;
}
.mp-manage-maplayer .textarea-control {
    display: inline-block;
    width: 288px;
    height: 110px;
}
.mp-manage-maplayer-address {
    width: 375px;
    padding-bottom: 20px;
    position: relative;
}
.mp-manage-maplayer-address .mp-manage-label {
    width: 100px;
}
.mp-manage-maplayer-address .mp-manage-inputbox {
    margin-left: 100px;
}
.mp-manage-maplayer-address .address {
    margin-left: 82px;
    width: 290px;
    position: relative;
}
.mp-manage-maplayer-address .mark-control {
    margin-top: 10px;
    display: block;
    position: relative;
}
.mp-manage-maplayer-address .mark-control .tips-msg {
    margin-top: 10px;
    left: 100px;
}
.mp-manage-maplayer-select {
    margin-right: 10px;
    width: 90px;
    height: 26px;
    position: relative;
    color: #666;
}
#mp-manage-maplayer-regional {
    margin-right: 0px;
}
.mp-manage-maplayer {
    display: flex;
    display: -webkit-box;
    padding: 20px 0px 0px;
    border-top: dashed 1px #DDDDDD;
    border-bottom: dashed 1px #DDDDDD;
}
#mp-manage-maplayer-mapbox {
    width: 350px;
    height: 225px;
    background: #fff;
    z-index: 101;
    border: solid 1px #CECECE;
    margin-left: 30px;
    position: relative;
}
.mp-manage-maplayer .confirm-dialog-wrapper {
    position: absolute;
    top: 35px;
    left: -1px;
    line-height: 33px;
    padding: 0 10px;
    color: white;
}
.mp-manage-maplayer .confirm-dialog-wrapper .title {
    top: -35px;
    position: relative;
    font-size: 13px;
    z-index: 1;
}
.mp-manage-maplayer .confirm-dialog-bg {
    width: 351px;
    height: 33px;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: -35px;
    left: 0;
}
.mp-manage-maplayer .confirm-dialog-wrapper .btn-area {
    position: relative;
    z-index: 1;
    top: -35px;
    left: 70px;
}
#allmap {
    width: 350px;
    height: 220px;
    overflow: hidden;
}
.btn-line {
    text-align: center;
    margin-top: 20px;
}
.btn {
    margin-right: 20px;
}
.btn {
    margin-right: 10px;
    height: 20px;
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
