.mp-tour-container {
  width: 763px;
  margin-left: -6px;
  font-size: 14px;
  line-height: 1.6;
}
.mp-tour-container .mp-tour-input-con {
  width: 780px;
  margin: 5px 0px 5px 0px;
  line-height: 1.8;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-left {
  width: 106px;
  text-align: right;
  margin-right: 20px;
  float: left;
  color: #84888D;
  font-weight: 700;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-left .mp-tour-necessary {
  color: #AE4A4A;
  display: inline-block;
  width: 20px;
  text-align: center;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right {
  float: left;
  position: relative;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-input-button-container {
  width: 520px;
  color: #888;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-input-button-container .mp-tour-input-button {
  width: 70px;
  height: 26px;
  border: 0px;
  border-radius: 2px;
  background-color: #56A845;
  color: #FFF;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-input-button-container em {
  color: #000;
  font-style: normal;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-image-lists {
  width: 654px;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-image-lists img {
  width: 300px;
  margin-top: 15px;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-image-lists .mp-tour-image-container {
  margin-top: 10px;
  padding: 5px;
  width: 180px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
  background-color: #C8C8C8;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-image-lists .mp-tour-image-container .mp-tour-image-show {
  width: 180px;
  height: 100px;
  background-image: url([object Object]);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.mp-tour-container .mp-tour-input-con .mp-tour-input-right .mp-tour-image-lists .mp-tour-image-container:hover {
  border-top: 2px solid #56A845;
  border-bottom: 2px solid #56A845;
  border-left: 3px solid #56A845;
  border-right: 3px solid #56A845;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
