//loading.scss

.rotation-keyframes from {
  -webkit-transform: scale(0.32) rotate(0);
  -moz-transform: scale(0.32) rotate(0);
}
.rotation-keyframes to {
  -webkit-transform: scale(0.32) rotate(360deg);
  -moz-transform: scale(0.32) rotate(360deg);
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: scale(0.32) rotate(0);
    -moz-transform: scale(0.32) rotate(0);
  }
  to {
    -webkit-transform: scale(0.32) rotate(360deg);
    -moz-transform: scale(0.32) rotate(360deg);
  }
}
@-moz-keyframes rotation {
  from {
    -webkit-transform: scale(0.32) rotate(0);
    -moz-transform: scale(0.32) rotate(0);
  }
  to {
    -webkit-transform: scale(0.32) rotate(360deg);
    -moz-transform: scale(0.32) rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    -webkit-transform: scale(0.32) rotate(0);
    -moz-transform: scale(0.32) rotate(0);
  }
  to {
    -webkit-transform: scale(0.32) rotate(360deg);
    -moz-transform: scale(0.32) rotate(360deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: scale(0.32) rotate(0);
    -moz-transform: scale(0.32) rotate(0);
  }
  to {
    -webkit-transform: scale(0.32) rotate(360deg);
    -moz-transform: scale(0.32) rotate(360deg);
  }
}
#page-loading {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  background: #ffffff;
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}
#page-loading .fake-header {
  position: absolute;
  width: 100%;
}
#page-loading .loading-wrapper {
  position: relative;
  width: 100%;
}
#page-loading .loading-wrapper .loading-rotate {
  width: 80px;
  height: 80px;
  -webkit-animation: rotation 1.5s linear infinite;
  -moz-animation: rotation 1.5s linear infinite;
  -o-animation: rotation 1.5s linear infinite;
  animation: rotation 1.5s linear infinite;
  margin: 0 auto;
  background: url('./load.png?__inline') no-repeat;
  -webkit-background-size: 80px 80px;
  -moz-background-size: 80px 80px;
  -o-background-size: 80px 80px;
  background-size: 80px 80px;
  position: relative;
  top: -53px;
}
#page-loading .loading-wrapper .loading-logo {
  background-color: red;
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border-radius: 24px;
  -webkit-border-radius: 24px;
}