.mp-spot-hotspring {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    .mp-hotspring-bg {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        z-index: 1;
        -webkit-filter: blur(2px);
        width: 100%;
        background-position: 50%;
    }
    .mp-bg-fix {
        -webkit-filter: blur(0);
    }
    .mp-hotspring-layer {
        background-color: #000;
        opacity: 0.3;
        height: 100%;
        position: absolute;
        z-index: 2;
        width: 100%;
    }
    .mp-spot-content {
        height: 100%;
        position: relative;
        z-index: 3;
        overflow: auto;
    }
    .mp-spot-title {
        text-align: center;
        margin: 12% 0;
        line-height: 20px;
        font-size: 20px;
        color: #fff;
    }
    .mp-spot-nav {
        width: 100%;
        ul {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: box;
            li {
                box-flex: 1;
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                position: relative;
                margin-bottom: 10px;
                margin-right: 10%;
                a {
                    width: 60px;
                    height: 60px;
                    box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, .5);
                    border-radius: 31px;
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    text-decoration: none;
                    img {
                        width: 31px;
                        height: 31px;
                        position: absolute;
                        left: 13px;
                        top: 15px;
                    }
                    em {
                        width: 60px;
                        height: 60px;
                        border-radius: 31px;
                        display: block;
                        opacity: 0.3;
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: 0px 1px 1px #000;
                        /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), to(rgba(255, 255, 255, .5)), color-stop(.6, rgba(255, 255, 255, .6)));
                        -webkit-filter: blur(1px);
                        */
                    }
                    em:after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 60px;
                        height: 60px;
                        left: 0;
                        top: 0;
                        border-radius: 31px;
                        box-shadow: 0px 2px 0px #Fff inset, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
                        opacity: 0.7;
                    }
                }
                span.fixed {
                    width: 60px;
                    height: 60px;
                    box-shadow: none;
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    text-decoration: none;
                }
                i {
                    width: 60px;
                    height: 60px;
                    border-radius: 31px;
                    display: block;
                    margin: 0 auto; /* bgImage('hotspring/icons.png') */
                    background-size: 203%;
                    cursor: pointer;
                }
                i:before {
                    font-size: 35px;
                    color: #fff;
                    text-shadow: rgba(0, 0, 0, .5) 0px 2px 2px;
                    position: absolute;
                }
                i.icon-gallery:before {
                    content: "\e09d";
                    top: 12px;
                    left: 16px;
                }
                i.icon-introduce:before {
                    content: "\e1a0";
                    top: 12px;
                    left: 16px;
                }
                i.icon-tickets:before {
                    content: "\e32c";
                    top: 10px;
                    left: 15px;
                }
                i.icon-ordercenter:before {
                    content: "\e102";
                    top: 10px;
                    left: 19px;
                }
                i.icon-tourguide:before {
                    content: "\e342";
                    top: 10px;
                    left: 20px;
                }
                i.icon-routes:before {
                    content: "\e06e";
                    top: 10px;
                    left: 19px;
                }
                i.icon-weather:before {
                    content: "\e106";
                    top: 10px;
                    left: 15px;
                }
                i.icon-spotlist:before {
                    content: "\e07b";
                    top: 10px;
                    left: 15px;
                }
                i.fixed {
                    background-image: none;
                }
                span {
                    line-height: 40px;
                    display: block;
                    color: #fff;
                    text-align: center;
                    text-shadow: 0px 1px 1px #000;
                }
            }
            li:first-child {
                margin-left: 10%;
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-height:480px) {
    .mp-spot-hotspring .mp-spot-content {
        padding-top: 10%;
    }
    .mp-spot-hotspring .mp-spot-nav ul li span {
        line-height: 20px;
    }
}
@media screen and (max-height:360px) {
    .mp-spot-hotspring .mp-spot-title {
        margin-bottom: 10px;
    }
    .mp-spot-hotspring .mp-spot-content {
        padding-top: 5%;
    }
}